$body: #141312;
$prymary: #D5B460;
$secundary: #000000;
$Tertiary: #6C562C;
$quaternary: #3E2A0E;
$Quinary: #3E2A0E;
$senary: #848C44;
$septenary: #fff;
$octonary: #d9d9d9;
$nonary: #222 ;
// $denary: ;
