@import './variaveis'; //importação do arquivo "_variaveis.scss" -> onde contem todas as cores.

// configuração do Body(corpo do site)
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

body{
    background-color: $secundary;
}
// fim da configuração

// inicio - navbar
header{
    display: flex;
    justify-content: center;
    background-color: $prymary;
    width: auto;
    height: auto;
    align-items: center;

    .logo{
        display: flex;
    }

    .logo h1{
        display: flex;
        font-size: 2rem;
        margin-top: 2rem;
        font-weight: 800;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: $nonary;
    }

    img{
        width: 50%;
    }

}
// fim -navbar

// inicio - main
.container{
    display: flex;
    flex-direction: column;

    .text-container{
        width: 70%;
        margin: 1rem;
        padding: 1rem;
    }

    .text-container h1{
        font-size: 2rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: $septenary;
        letter-spacing: 0.2rem;
    }

    .text-container h2{
        margin-top: 2rem;
        font-size: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.2rem;
        color: $prymary;
    }
    .video{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        padding: 2rem;
    }
    video{
        margin: auto;
        border-radius: 1rem;
        box-shadow: $prymary 9px 7px 4px 5px;
    }

    .sobre-contain{
        display: flex;
        justify-content: center;
        margin-top: 8rem;
        flex-wrap: wrap;
    }


    .text-sobre h1{
        display: flex;
        color: $septenary;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 4rem;
        overflow: hidden;
    }  
        

    .img-contain img{
        width: 40vw;
    }

    .text-frase{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        padding: 0;
        gap: 1.5rem;
        margin-top: 5rem;
        margin: 1rem;
        padding: 1rem;
        overflow: hidden;
    }
    .text-frase h1{
        width: 100%;
        color: $septenary;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .text-frase > .frase3{
        color: $prymary;
    }

    .botao{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5rem;
    }
    button{
        padding: 2rem 5rem;
        border-radius: 0.8rem;
        background-color: $prymary;
        cursor: pointer;
    }
    button:hover{
        background-color: transparent;
        border: 1px solid $prymary;
    }

    button a{
        color: $octonary;
        font-size: 1.8rem;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
        cursor: pointer;
    }
    button a:hover{
        color: $septenary;
    }


    // responsividade do header e da main
    @media (max-width: 30rem){
        .container{
          width: 100%;
          max-width: 100%;
        }
        .text-sobre{
            display: flex;
            flex-direction: column;
            width: 1%;
        }
        .img-contain{
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .text-sobre h1{
          font-size: 3rem;
       }
       video{
        width: 110%;
        box-shadow: $prymary 3px 2px 0px 0px ;
       }
       button{
        padding: 0.7rem 0.7rem;
    }
      
    }

}
// continuação
@media (max-width: 40rem){
    .container{
        padding: 0rem;
    }
    .text-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0rem;
        margin: 0rem;
    }
    .text-container h1{
        font-size: 1rem;
        word-break: break-all;
        width: 140%;
        display: flex;
        justify-content: center;
    }
    .img-contain{
        display: flex;
        justify-content: center;
    }
    .text-container h2{
        font-size: 1rem;
        word-break: break-all;
        width: 140%;
        display: flex;
        justify-content: center;
    }
    .text-sobre{
        display: flex;
        flex-direction: column;
        width: 1%;
    }
    .logo h1{
        display: none;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    header{
        padding: 1rem 0rem;
    }
}

@media (max-width: 25.938rem){
    .text-sobre{
        display: flex;
        flex-direction: column;
        width: 1%;
    }
    .text-sobre h1{
        display: flex;
        justify-content: center;
        margin-right: auto;
        width: 5%;
    }
    .img-contain{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .img-contain img{
        width: 70vw;
    }
    .text-frase{
        padding: 0rem;
        margin: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-frase h1{
        width: 140%;
    }
 
    
}
// fim da responsividade Header e Main

// inicio do Footer
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: $Quinary;

}
footer p{
    color: $septenary;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

// fim do footer




