@import '../variaveis';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $body;
}

// navbar inicio

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0rem;
    background: $prymary;


    .logo{
        display: flex;
        position: absolute;
        width: 100%;
    }

    .logo h1{
        font-size: 2rem;
        font-weight: 800;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: $nonary;
        padding-inline: 2rem;
    }

    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .menu-mobile{
        display: none;
    }

    .hamburguer{
        width: 8rem;
        height: 8rem;
        background-color: transparent;
        border-radius: 1rem;
        border: 0;
        position: relative;
        cursor: pointer;
        right: 0;
        display: none;
    }
    .hamburguer:after{
        content: "";
        position: absolute;
        top: 35%;
        left: 15%;
        width: 45%;
        height: 3%;
        border-radius:1rem;
        background-color: #fff;
    }
    .hamburguer::before{
        content: "";
        position: absolute;
        top: 18%;
        left: 15%;
        width: 45%;
        height: 3%;
        border-radius: 1rem;
        background-color: #fff;
    }


    .menu ul{
        display: flex;
        justify-content: center;
        margin-left: auto;
        align-items: center;
        gap: 2rem;
        list-style: none;
        z-index: 2;
    }

    .menu li a{
        display: flex;
        font-size: 1.8rem;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 2px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: $secundary;
        margin-right: 3rem;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        gap: 1rem;
        z-index: 2;
    }

    .buttons button{
        padding: 0.2rem 2rem;
    }

    .buttons .cadastrar{
        background-color: transparent;
        border: 1px solid $secundary;
        border-radius: 1rem;
    }
    .buttons .cadastrar:hover{
        background-color: $secundary;
    }
    .buttons .cadastrar a:hover{
        color: #fff;
    }

    .buttons .login{
        background-color: $secundary;
        border-radius: 1rem;
        border: none;
    }
    .buttons .login:hover{
        background-color: $prymary;
        border: 1px solid $secundary;
        color: #000;
    }
    .buttons .login a:hover{
        color: #000;
    }

    .buttons .cadastrar a{
        color: #000;
        text-decoration: none;
        font-size: 1.1rem;
    }

    .buttons .login a{
        color: #fff;
        text-decoration: none;
        font-size: 1.1rem;
    }


    @media (max-width: 50.5rem){
        .cursos{
            display: none;
        }
        .logo img{
            height: 10vh;
        }
    }
    @media (max-width: 56.25rem){
        .cursos{
            display: none;
        }
        .serviços{
            display: none;
        }
    }
    @media (max-width: 40.5rem){
        .menu li a{
            display: none;
        }
        .logo{
            position: absolute;
            top: 10px;
        }
        .logo img{
            height: 10vh;
        }
        .menu-mobile li a{
            display: flex;
        }
        .hamburguer{
            position: fixed;
            display: block;
            margin-top:2rem;
            margin-left: auto;
            z-index: 999;
        }

        .menu{
            position: fixed;
            top: 0;
            right: -100%;

            width: 100%;
            height: 100vh;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(6px);
            transition: 2s ease-in-out;
        }

        .menu.active{
            right: 0;
        }
        .menu ul{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .menu li a{
            display: block;
            color: #fff;
        }
        
        .buttons{
            display: none;
        }
        .cursos{
            display: flex;
        }
        .cursos{
            display: flex;
        }
        .serviços{
            display: flex;
        }
    }
}
// fim do codigo navbar


// banner inicial 
.container{
    display: flex;
    align-items: center;
    padding: 2rem;


    .botao{
        margin: 1rem;
    }

    .botao-link{
        padding: 1rem 2rem;
        border-radius: 1rem;
        border: none;
        background-color: $prymary;
    }
    .botao-link:hover{
        background-color: transparent;
        border: 1px solid $prymary;
    }

    .botao-link a{
        text-decoration: none;
        color: $secundary;
        font-size: 1.5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .botao-link a:hover{
        color: #fff;
    }

    .text-banner h1{
        color: $septenary;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;

    }

    .text-banner p{
        color: $octonary;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        opacity: 0.6;
    }
}

@media (max-width: 40.5rem){
    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .img-banner img{
        width: 100%;
    }
}
@media (max-width: 56.25rem){
    .container{
        flex-wrap: wrap;
    }
}
// fim banner inicial

// equipe
.contain{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: -2.3rem;
    padding: 10rem 8rem;
    background-color: $Tertiary;
    gap: 2rem;
    flex-wrap: wrap;

    .card-equip{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }
    .card-equip img{
        object-fit: cover;
        transition: .5s ease-in-out;
        height: 100%;
    }
    
    
    .text-name p{
        font-size: 1.5rem;
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        z-index: 5;
    }
    @media (max-width: 56.25rem){
        .card-equip{
            transform: scale(0.7);
        }
    }
}
.contain:after{
    content: "Nossa Equipe";
    position: absolute;
    display: flex;
    justify-content: center;
    width: 15%;
    background-color: $Tertiary;
    margin-top: -8rem;
    font-size: 1.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #fff;
}

.contain:before{
    content:"";
    position: absolute;
    display: flex;
    justify-content: center;
    width: 15rem;
    border: 1px solid #fff;
    background-color: #ffff;
    margin-top: -6.8rem;

}
// fim da equipe


// contain sobre os anos
.tempo-contain{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $quaternary;

    .photo-barber{
        display: flex;
        margin-top: -5rem;
    }
    .photo-barber::after{
        content: "";
        position: absolute;
        display: flex;
        top: 115rem;
        width: 100%;
        right: 0;
        padding: 8rem 8rem;
        background: linear-gradient(to top, transparent, $Quinary);
        transform: rotate(180deg);
        z-index: 999;
    }

    .line-tempo{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .card-tempo{
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem 2rem;
        background-color: $quaternary;
        backdrop-filter: blur(8px);
        border-radius: 0.8rem;
        animation: slide 8s ease-in-out infinite;
        border: 1px solid #222;
    }

    @keyframes slide {
       0%{
       
       } 
       25%{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: $Tertiary;
        border: 1px solid none;
       }
    }

    .card-tempo, p span{
        color: #fff;
    }
    
    .card-tempo p{
        font-size: 1.4rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
    }
    .card-tempo span{
        font-size: 1.2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
    }

    @media (max-width: 80.125rem){
        .photo-barber::after{
            display: none;
        }
    }
    

    @media (max-width: 56.25rem){
        .photo-barber{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
          
        }
        .photo-barber img{
           width: 100%;
        }
        .line-tempo{
            position: absolute;
            display: flex;
            justify-content: center;
            margin-top: 62rem;
        }

        .photo-barber::after{
            display: none;
        }
    
    }
}
// fim contain

.curso-contain{
    display: flex;

    .img-curso img{
       margin: 5rem;
       width: 80%;
    }
    .img-curso{
        width: 100%;
    }
    .text-curso span{
        font-size: 1.8rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 0.1rem;
        font-weight: 700;
        color: #fff;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        gap: 1rem;
        overflow: hidden;
    }

    input{
        width: 50%;
        height: 5%;
        margin: 0 auto;
        border: none;
        border-radius: 0.7rem;
    }
    input::placeholder{
        display: flex;
        margin-left: 1rem;
    }
    form input{
        outline: unset;
        padding: 20px;
        background-color: #222;
        border: 1px solid #ff0000;
    }
    form input:focus{
        background-color: #fff;
        border: 1px solid #5900ff;
    }
    
    .btn {
        padding: 0.8rem 3rem;
        border: none;
        border-radius: 0.9rem;
    }
    .btn:hover {
        background-color: #222;
        border: 1px solid #000;
    }
    .btn a{
        text-decoration: none;
        font-size: 1.2rem;
        color: #000;
    }
    .btn a:hover {
        color: #fff;
    }
    
}
@media (max-width: 55.875rem) and (max-width: 56.25rem){
    .img-curso{
        margin-top: 20rem;
        display: flex;
    }
    form{
        display: flex;
        align-items: center;
        margin-top: 18rem;
    }

}
@media (max-width: 36rem){
    .curso-contain{
        display: flex;
        justify-content: center;
        flex-direction: column;
       width: 100%;

    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
        margin-top: 0;
        width: 100%;
    }
    .text-frase{
        display: flex;
        margin-top: 5rem;
        justify-content: center;
        align-items: center;
    }
   
}
@media (max-width: 25.75rem){
    .img-curso{
        justify-content: center;
        margin-top: 28rem;
        display: flex;
    }

}

.text-frase p{
    display: flex;
    padding-left: 5rem;
    margin-top: -3rem;
    width: 90%;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
footer{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    padding: 2rem;
    background-color: $Quinary;
}